<h1>Contact me</h1>
<p>Please feel free to find me on <a href="https://twitter.com/johnwshumway">Twitter</a> or <a href="https://www.linkedin.com/in/john-shumway-80b3441b">LinkedIn</a> or email me at john@johnwshumway.com</p>