<h1>Education</h1>
<h2>Baylor College of Medicine - Houston, TX</h2>
<p>Doctor of Medicine Degree, anticipated graduation in 2017</p>
<h2>Brigham Young University - Provo, UT</h2>
<p>Bachelor of Music, emphasis in piano performance, awarded April 2013</p>

<h1>Honors and Awards</h1>
<h2>Pre-Medical Scholarship</h2>
<p>Brigham Young University, 2012</p>
<h2>Piano Scholarship</h2>
<p>Brigham Young University, 2010 and 2011</p>
<h2>Dean's List</h2>
<p>Brigham Young University College of Fine Arts and Communications, 2012</p>
<h2>Heritage Scholarship</h2>
<p>Brigham Young University, full tuition for 4 years, awarded in 2006</p>

<h1>Work Experience</h1>
<h2>Instructor</h2>
<p>Examkrackers, April 2014-present
</p>
<p>4 hours per week of MCAT tutoring at Rice University for pre-med students.</p>
<h2>Writer</h2>
<p>Examkrackers, August 2014-February 2016</p>
<p>Author of practice passages and questions used in MCAT prep materials, published in online practice tests and Examkrackers 101 Passages series, including the Physics, Critical Analysis and Reasoning Skills and Biological Molecules books.</p>
<h2>Math Tutor</h2>
<p>Brigham Young University, 2006-2013</p>
<p>15 hours per week of grading, teaching and tutoring for upper level math courses (Multivariable Calculus, Linear Algebra, Differential Equations, Theory of Analysis).</p>

<h1>Research Experience</h1>
<h2>First Author</h2>
<p>Radiation Oncology, Baylor College of Medicine, October 2015-present</p>
<p>My mentor is Michele Ludwig, MD, MPH, PhD and my research looks at outcomes using IMRT to treat cervical cancer. It has been accepted for a poster presentation at ARS 2016 and at Baylor College of Medicine (BCM) Radiation Oncology Department's annual resident research day. I am currently drafting a paper and preparing it for submission.</p>
<h2>First Author</h2>
<p>Cardiovascular Sciences, Baylor College of Medicine, May 2014-present</p>
<p>My mentor is Vijay Nambi, MD, PhD and my responsibilities include image analysis of carotid ultrasound using Matlab, Photoshop and TomTec, a speckle-tracking software used to derive strain and other physical parameters. I have also developed a protocol for grey scale median analysis of carotid artery intima. Currently our work is accepted for presentation at SVM 2016.</p>
<h2>Research Assistant</h2>
<p>Radiation Oncology, Emergency Medicine and Medicine-Geriatrics, Baylor College of Medicine, May 2015-present</p>
<p>I am working with mentors Michele Ludwig, MD, MPH, PhD, W. Frank Peacock, MD and Alexi Cintron, MD, MPH on a project looking at changes in pain management since the rescheduling of hydrocodone-acetaminophen combination products on October 6, 2014. My responsibilities have included database creation, data anlysis and writing an IRB proposal.</p>
<h2>Research Assistant</h2>
<p>Cardiothoracic Surgery, Baylor College of Medicine, September 2015-January 2016</p>
<p>My mentor was Shuab Omer, MD and my responsibilities included chart review of patients for a case series looking at outcomes using a VAC system to achieve hemostasis after delayed closure thoracic surgery.</p>
<h2>Research Assistant</h2>
<p>Interventional Radiology, MD Anderson Cancer Center, May 2015</p>
<p>My mentor was Rony Avritscher, MD and my responsibilities included Matlab image analysis of H&E stained hepatocellular carcinoma sections.</p>
<h2>Contributing Author</h2>
<p>Pediatric Hematology and Oncology, Texas Children's Hosptial, October 2014-July 2015</p>
<p>My mentor was Vivian Sheehan, MD, PhD and my responsibilities included interviewing patients with sickle cell disease about their health history after leaving pediatric care at TCH. Our work has been accepted for presentation at ASPHO 2016 and at the Baylor College of Medicine James K. Alexander student research symposium.</p>
<h2>Team Member</h2>
<p>International Genetically Engineered Machine (IGEM) 2012, Team BYU Provo</p>
<p>Working under our advisor Julianne Grose, PhD, my
    <a href="http://2012.igem.org/Team:BYUProvo">team</a> at Brigham Young University engineered a genetic circuit within <i>E. Coli</i> to detect colon cancer. I was responsible for creating a mathematical model of the circuit and developing an algorithm to predict the secondary structure of our RNA thermosensors. Our team presented our work at the Americas West Jamboree at Stanford University in October 2012.</p>
<h2>Research Assistant</h2>
<p>Physics Department, Brigham Young University, 2010-2012</p>
<p>Working under Bret Hess, PhD, I studied the crystalline and amorphous qualities of carbon nanowires under stress in a molecular dynamics simulation. I spent most of my time writing Matlab scripts to implement algorithms we devised to analyze output from the simulations and optimize parameters for further simulations.</p>
<h2>Research Assistant</h2>
<p>Math Department, Brigham Young University, 2011-2012</p>
<p>Under John Dallon, PhD, I worked to test, alter and analyze a computer model that simulates the movement of glioma cells within a collagen matrix.</p>

<h1>Presentations and Posters</h1>
<p><b>Shumway JW</b>, Yang EY, Brunner G, Virani SS, Misra A, Lakkis NM, Taffet GE, Ballantyne CM, Nambi V, “Association of Carotid Arterial Strain Measured with Speckle Tracking and Echocardiography Derived Cardiac Parameters,” Society for Vascular Medicine, Long Beach CA, June 15-18, 2016.</p>
<p><b>Shumway JW</b>, Echeverria AE, Patel U, Ludwig M, Bonnen M, "Effectiveness of Intensity Modulated Radiation Therapy with Simultaneous Integrated Boost in Cervical Cancer Patients with PET Positive Lymph Nodes," American Radium Society, Philadelphia PA, April 16-19, 2016. View publication <a href="http://www.cancernetwork.com/ars-2016/effectiveness-imrt-simultaneous-integrated-boost-cervical-cancer-pet-positive-lymph-nodes">here</a>.</p>
<p>Echeverria AE, Patel U, <b>Shumway JW</b>, Ludwig M, Bonnen M, “Patterns and Predictors of Local Failure in Cervical Cancer”, American Radium Society, Philadelphia PA, April 16-19, 2016. View publication <a href="http://www.cancernetwork.com/ars-2016/patterns-and-predictors-local-failure-cervical-cancer">here</a>.</p>
<p>Sheehan V, Wood A, Yeh P, <b>Shumway JW</b>, Allahabadi S, Curtis S, Hammond A, Chien L, Schupp J, Rees M, Travis K, "A survey of sickle cell patients transitioned to adult care from Texas Children's Hematology Center Between January 1999 and January 2014,” American Society of Pediatric Hematology/Oncology, Minneapolis MN, May 11-14, 2016.</p>
<p>Sheehan V, Wood A, Yeh P, <b>Shumway JW</b>, Allahabadi S, Curtis S, Hammond A, Chien L, Schupp J, Rees M, Travis K, "A survey of sickle cell patients transitioned to adult care from Texas Children's Hematology Center Between January 1999 and January 2014," Texas Children’s Hematology Oncology Research Symposium, Houston TX, April 7, 2016.</p>
<p>Sheehan V, Wood A, Yeh P, <b>Shumway JW</b>, Allahabadi S, Curtis S, Hammond A, Chien L, Schupp J, Rees M, Travis K, "A survey of sickle cell patients transitioned to adult care from Texas Children's Hematology Center Between January 1999 and January 2014," James K. Alexander Research Symposium, Baylor College of Medicine, Houston TX, March 10, 2016.</p>
<p>Grose J, Roberts J, <b>Shumway JW</b>, Meek J, Rees J, Jones EW, Nordgren K, Buckley A, Anderson JF, Bollenbach KS, Roark B, Jackson K, Fullwood A, Emery H, Ritchie DJ, Kitchen J, Cabeza YP, Mackay J, Thiriot J, “E colonoscopy: A Two-Circuit System for Early Colon Cancer Detection,” International Genetically Engineered Machine, Americas West Jamboree, Stanford University, Palo Alto CA, October 12-14, 2012.</p>
<p>Grose J, Roberts J, <b>Shumway JW</b>, Meek J, Rees J, Jones EW, Nordgren K, Buckley A, Anderson JF, Bollenbach KS, Roark B, Jackson K, Fullwood A, Emery H, Ritchie DJ, Kitchen J, Cabeza YP, Mackay J, Thiriot J, “E colonoscopy: A Two-Circuit System for Early Colon Cancer Detection,” American Society of Microbiology Intermountain Branch, Idaho State University, Pocatello ID, April 2012.</p>
<p><b>Shumway JW</b>, Jones EW, Dallon JC, “Modeling Glioma Cell Movement Within a Collagen Matrix,” BYU College of Physical and Mathematical Sciences Spring Research Conference, Brigahm Young University, Provo UT, April 2011.</p>

<h1>Volunteer Work and Community Service</h1>
<h2>Participant</h2>
<p>Mormon Helping Hands, Baton Rouge LA, September 3-4 2016</p>
<p>Our group helped clean up after the flooding that impacted people and homes in the Baton Rouge LA area.</p>
<h2>Member</h2>
<p>Foundational Sciences Committee, Baylor College of Medicine, July 2014-present</p>
<p>I am a member of the Foundational Sciences Committee, chaired by J. Clay Goodman, MD, the Associate Dean for Undergraduate Medical Education. We meet monthly with students and professors to discuss the current state of medical pre-clinical curriculum, identify areas for improvement, make changes and suggest methods for their implementation. My responsibilities include preparing reports and presentations, meeting with professors to discuss specific courses, creating and administering surveys to medical students and collecting input from classmates in order to represent them and their interests.</p>
<h2>Chief Executive Officer</h2>
<p><a href="http://surgicalcorps.org/">Surgical Corps</a>, May 2014-present</p>
<p>I joined Surgical Corps in May 2014 as the CIO and was elected CEO in April 2016. Surgical Corps is an organization that employs medical students at BCM and UT Houston Medical School that supports the clinical training facility at Houston Methodist's MITIE, where surgeons and clinicians come from around the world to receive training. We employ students and provide them opportunities to receive hands-on surgical experience and rub shoulders with some of the world's top surgeons. My responsibilities include creation and maintenance of our website, handling of student information and work schedules and organization of student activities including surgical workshops and social events. I also coordinate and oversee the responsibilities of the management team.</p>
<h2>Participant</h2>
<p>Ethics Track, Baylor College of Medicine, January 2014-present</p>
<h2>Medical Mission</h2>
<p>Houston Shoulder to Shoulder Foundation, location: Santa Ana, Colomoncagua, Honduras, March 5-12 2016</p>
<p></p>
<h2>Youth Leader</h2>
<p>Young Men's Organization, Sunnyside Branch of The Church of Jesus Christ of Latter-day Saints, August 2014-August 2015</p>
<p>I had the privilege of serving as young men's president, meeting with the young men every Tuesday night for activities and Sundays for lessons and training. Our activities included sports, crafts, learning new skills (rope tying, conducting music, car maintenance, etc.), campouts and service projects.</p>
<h2>Co-chair</h2>
<p>Business of Medicine Elective, a joint lecture series betwween Baylor College of Medicine and UT Houston Medical School, September 2013-December 2014</p>
<p>Working with Arlo Weltge, MD, my responsibilities included securing funding for events, coordinating catering and arranging for, hosting and introducing lecturers, including distinguished individuals such as state representatives John M. Zerwas, MD and Sarah Davis.</p>
<h2>Participant</h2>
<p>Matthew Carter Service Day, Houston TX, October 12, 2013</p>
<h2>Missionary</h2>
<p>Brasil Sao Paulo South Mission, The Chuch of Jesus Christ of Latter-day Saints, May 2007-May 2009</p>
<p>For 2 years I served the Brazilian people, including church members by teaching about Christ, baptizing new members into the church, encouraging Christian values and assisting in local church organization and leadership. I also taught weekly Enlgish clases and piano lessons, performed regular community service and put together and conducted a touring musical group that performed all across Sao Paulo in December 2008.</p>

<h1>Professional Society Memberships</h1>
<h2>Member</h2>
<p>American Heart Association, June 2015-present</p>
<p>American Medical Association, January 2014-present</p>
<p>Texas Medical Association, January 2014-present</p>
<p>American Medical Student Association, December 2013-present</p>
<p>Golden Key Honor Society, 2010-present</p>

<h1>Other Interests</h1>
<h2>Entrepreneurship</h2>
<p>Completed Life Sciences Entrepreneurship at Rice University, taught by venture capitalists Jack Gill and Bob Ulrich.</p>
<h2>Machine Learning</h2>
<p>Completed Machine Learning by Stanford University on Coursera. Certificate earned on February 19, 2016.</p>
<p>On September 12, 2016, earned 2nd place and 4th place, respectively, in two <a href="https://www.kaggle.com/">Kaggle</a> competitions:
    <br><a href="https://inclass.kaggle.com/c/oropharynx-radiomics-hpv">Oropharynx Cancer Radiomics Challenge: Human Papilloma Virus Status Prediction</a>
    <br><a href="https://inclass.kaggle.com/c/opc-recurrence">Oropharynx Cancer Radiomics Challenge: Local Recurrence Prediction</a></p>
</p>
<h2>Running</h2>
<p>Member of the Houston Harriers, a BCM running group. Ran in multiple races including 3 marathons and 2 half marathons. Took 1st place in my age group in the Provo River Half Marathon in 2011.</p>

<h1>Languages</h1>
<h2>Portuguese</h2>
<p>Fluent</p>
<h2>Spanish</h2>
<p>Proficient</p>