<h1>Introduction</h1>
<p>Hi, I'm John Shumway, a med student at Baylor College of Medicine with experience in data anlysis, computer programming and machine learning. Most of my interests lie somewhere in medicine, artifical intelligence or humanitarian work. I am also very involved in my family and my <a href="https://lds.org">church</a>.
</p>